[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot
[submodule "kernel"]
	path = kernel
	url = https://github.com/rockchip-linux/kernel
	branch = develop-5.10
[submodule "uboot"]
	path = uboot
	url = https://github.com/rockchip-linux/u-boot
	branch = next-dev
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "rkbin"]
	path = rkbin
	url = https://github.com/rockchip-linux/rkbin
[submodule "esp-hosted"]
	path = esp-hosted
	url = https://github.com/espressif/esp-hosted
