/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

#include "rv1106.dtsi"

/ {
	model = "Raven 1106";
	compatible = "rockchip,rv1106g-evb1-v11", "rockchip,rv1106";

	rockchip_amp: rockchip-amp {
		compatible = "rockchip,amp";
		clocks = <&cru CLK_TIMER_ROOT>, <&cru PCLK_TIMER>, <&cru CLK_TIMER5>,
			<&cru CLK_CORE_MCU>, <&cru CLK_CORE_MCU_RTC>, <&cru PCLK_MAILBOX>;

		status = "okay";
	};

	restart-poweroff {
		compatible = "restart-poweroff";
	};

	acodec_sound: acodec-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rv1106-acodec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&acodec>;
		};
	};

	dsm_sound: dsm-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,dsm-sound";
		simple-audio-card,bitclock-master = <&sndcodec>;
		simple-audio-card,frame-master = <&sndcodec>;
		sndcpu: simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};
		sndcodec: simple-audio-card,codec {
			sound-dai = <&dsm>;
		};
	};

    leds {
        compatible = "gpio-leds";

        led-status {
            label = "::user";
            gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "none";
        };

        led-activity {
            label = "::activity";
            gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "activity";
        };

        led-eth-connected {
            label = "eth0::connected";
            gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "netdev";
            netdev {
                device-name = "eth0";
                link;
            };
        };

        led-eth-activity {
            label = "eth0::activity";
            gpios = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "netdev";
            netdev {
                device-name = "eth0";
                rx;
                tx;
            };
        };
    };
};


&fiq_debugger {
	rockchip,irq-mode-enable = <1>;
	status = "okay";
};

&gmac {
	status = "okay";
};

&i2s0_8ch {
	#sound-dai-cells = <0>;
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&mpp_vcodec {
	status = "okay";
};

&npu {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rkdvbm {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_pp {
	status = "okay";
};

&rmii_phy {
	bgs,increment = <0>;
};

&rng {
	status = "okay";
};

&rve {
	status = "okay";
};

&tsadc {
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&usbdrd {
	status = "okay";
};

&usbdrd_dwc3 {
	extcon = <&u2phy>;
	dr_mode = "otg";
	status = "okay";
};

&acodec {
	#sound-dai-cells = <0>;
	pa-ctl-gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	non-removable;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	rockchip,default-sample-phase = <90>;
	no-sdio;
	no-sd;
	status = "okay";
};

&dsm {
	status = "disabled";
};

#include "rv1106-evb-cam.dtsi"

&sdmmc {
	max-frequency = <200000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "normal", "idle";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	pinctrl-1 = <&sdmmc0_idle_pins &sdmmc0_det>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

&sfc {
	status = "okay";
};
